<h1>Welcome</h1>

<%= form_with url: users_login_path, method: :get, local: true do |form| %>
  <%= form.text_field :email %>
  <%= form.password_field :password %>
  <%= form.submit "Sign-In" %>
<% end %>
<div class="btn btn-success" style="color:white;">
  <%= button_to "Create Account", new_user_path, method: :get %>
</div>
